[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=jenkins
Group=jenkins
WorkingDirectory=/var/lib/jenkins/workspace/django/
ExecStart=/var/lib/jenkins/workspace/django/env/bin/gunicorn django_web_app.wsgi:application 
          --access-logfile - 
          --workers 3 
          --bind 8000 unix:/var/lib/jenkins/workspace/django/app.sock 
          django_web_app.wsgi:application

[Install]
WantedBy=multi-user.target
